:root {
	color: #595959;
	background-color: #f2f2f2;
}
body {
	margin: 0;
	padding: 0;
	width: 100%;
}
.verticle-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.verticle-container.favs-section {
	background-color: #aecbeb;
}
.favorite {
	background-color: #424040;
	color: #f2f2f2;
}
